Binaries
DerivedDataCache
Intermediate
Saved
Plugins/Wwise
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/SoulCity
CodenameNull.code-workspace
Build

/CodenameNull.sln.DotSettings.user