Binaries
DerivedDataCache
Intermediate
Saved
Plugins/Wwise
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/.idea/.idea.CodenameNull.dir/.idea/contentModel.xml
/.idea/.idea.CodenameNull.dir/.idea/encodings.xml
/.idea/.idea.CodenameNull.dir/.idea/indexLayout.xml
/.idea/.idea.CodenameNull.dir/.idea/modules.xml
/.idea/.idea.CodenameNull.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.CodenameNull.dir/.idea/riderModule.iml
/.idea/.idea.CodenameNull.dir/.idea/vcs.xml
/.idea/.idea.CodenameNull.dir/.idea/workspace.xml
/.idea/.idea.CodenameNull/.idea/contentModel.xml
/.idea/.idea.CodenameNull/.idea/encodings.xml
/.idea/.idea.CodenameNull/.idea/indexLayout.xml
/.idea/.idea.CodenameNull/.idea/modules.xml
/.idea/.idea.CodenameNull/.idea/projectSettingsUpdater.xml
/.idea/.idea.CodenameNull/.idea/riderModule.iml
/.idea/.idea.CodenameNull/.idea/vcs.xml
/.idea/.idea.CodenameNull/.idea/workspace.xml
