# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CodenameNull.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Navi\RiderProjects\CodenameNull\.idea\.idea.CodenameNull\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
